@media screen and (max-width: 1) {
}

/* Sembunyikan menu saat layar kecil */
@media screen and (max-width: 768px) {
  .main-header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Di bawah header */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    text-align: center;
  }

  .main-header nav ul li {
    padding: 10px 0;
  }

  #articles {
    height: 160vh;
  }

  #contact {
    height: 93vh;
  }

  /* Menu muncul ketika burger diklik */
  .nav ul.active {
    display: flex;
  }

  /* Tampilkan burger di layar kecil */
  .burger {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .main-header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Di bawah header */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    text-align: center;
  }

  #home {
    /* background-image: url(img/pp.jpeg); */
    background-size: cover;
    background-position: center;
  }

  #articles {
    height: 260vh;
  }

  #contact {
    height: 110vh;
  }

  .main-header nav ul li {
    padding: 10px 0;
  }

  .nav ul.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  .home-text {
    height: 80vh; /* Kurangi tinggi supaya tidak terlalu besar */
    padding: 20px; /* Kurangi padding */
  }

  .home-text-name {
    font-size: 24px; /* Lebih kecil agar pas di HP */
  }
}

@media screen and (max-width: 417px) {
  .main-header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Di bawah header */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    text-align: center;
  }

  #home {
    /* background-image: url(img/pp.jpeg); */
    background-size: cover;
    background-position: center;
  }

  #about {
    height: 100vh;
  }

  #gallery {
    height: 100vh;
  }

  #articles {
    height: 260vh;
  }

  #contact {
    height: 110vh;
  }

  .main-header nav ul li {
    padding: 10px 0;
  }

  .nav ul.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  .home-text {
    height: 80vh; /* Kurangi tinggi supaya tidak terlalu besar */
    padding: 20px; /* Kurangi padding */
  }

  .home-text-name {
    font-size: 24px; /* Lebih kecil agar pas di HP */
  }
}

@media screen and (max-width: 360px) {
  .main-header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Di bawah header */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    text-align: center;
  }

  #home {
    /* background-image: url(img/pp.jpeg); */
    background-size: cover;
    background-position: center;
  }

  #about {
    height: 100vh;
  }

  #gallery {
    height: 100vh;
  }

  #articles {
    height: 270vh;
  }

  #contact {
    height: 110vh;
  }

  .main-header nav ul li {
    padding: 10px 0;
  }

  .nav ul.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  .home-text {
    height: 80vh; /* Kurangi tinggi supaya tidak terlalu besar */
    padding: 20px; /* Kurangi padding */
  }

  .home-text-name {
    font-size: 24px; /* Lebih kecil agar pas di HP */
  }
}

@media screen and (max-width: 320px) {
  .main-header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Di bawah header */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    text-align: center;
  }

  #home {
    /* background-image: url(img/pp.jpeg); */
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  #about {
    height: 180vh;
  }

  #gallery {
    height: 160vh;
  }

  #articles {
    height: 470vh;
  }

  #contact {
    height: 200vh;
  }

  .main-header nav ul li {
    padding: 10px 0;
  }

  .nav ul.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  .home-text {
    height: 80vh; /* Kurangi tinggi supaya tidak terlalu besar */
    padding: 20px; /* Kurangi padding */
  }

  .home-text-name {
    font-size: 24px; /* Lebih kecil agar pas di HP */
  }
}
